.tracker_label {
    font-size: 14px;
    position: absolute;
    transform: translateY(-20px);
}

.tracker_label_wrap {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
    /* border: 1px solid rgb(255, 255, 255); */
}

#tracker-form {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    /* border: 1px solid red; */
    padding: 1.5rem;
}

.tracker_data {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    /* border: 1px solid rgb(255, 119, 119); */

}

.tracker_data .tracker_label_wrap .date_input {
    width: 60px;
}