.form-icon-input-wrap {
    display: flex;
    align-items: center;
    /* border: 1px solid green; */
    width: fit-content;
    gap: .2rem;
    position: relative;
}

#tracker-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    gap: 1.5rem;
    height: fit-content;
    padding: 1rem;
}

.form-icon-input-wrap{
    /* transform: translateX(-20%); */
}

.date_input {
    width: 80px;
    text-align: center;
    border-radius: 5px;
}

.text-input {
    width: 250px;
    text-align: center;
    border-radius: 5px;
}


.tracker_label_wrap {
    position: relative;
}

.delete-confirm-wrap {
    position: relative;
}

.delete-confirm {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -150px;
    background-color: rgb(163, 52, 48);
    width: 150px;
    height: fit-content;
    z-index: -1;
    padding-bottom: .5rem;
    border-radius: 5px;
    transition: 300ms;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.gap-wrap{
    display: flex;
    gap: .5rem;
}